<nav class="navbar navbar-light">
  <div class="container-fluid justify-content-md-around">
    <a routerLink="/" class="navbar-brand text-primary">Auth Form</a>
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Sign in</a>
      </li>
      <li class="nav-item">
        <a routerLink="/signup" class="nav-link">Sign up</a>
      </li>
      <li class="nav-item">
        <a routerLink="/logout" class="nav-link">Log out </a>
      </li>
    </ul>
  </div>
</nav>
