<div class="container pt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Sign Up</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="authForm">
            <app-input
              inputType="text"
              label="Username"
              [control]="$any(authForm.get('username'))"
            >
            </app-input>
            <app-input
              inputType="text"
              label="Email"
              [control]="$any(authForm.get('email'))"
            >
            </app-input>
            <app-input
              inputType="password"
              label="Password"
              [control]="$any(authForm.get('password'))"
            >
            </app-input>
            <app-input
              inputType="password"
              label="Password Confirmation"
              [control]="$any(authForm.get('passwordConfirmation'))"
            >
            </app-input>

            <div
              *ngIf="
                authForm.get('password')?.touched &&
                authForm.get('passwordConfirmation')?.touched &&
                authForm.errors
              "
              class="text-danger"
            >
              <p *ngIf="authForm.errors?.['passwordDontMatch']">
                Password and Password Confirmation must match
              </p>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {{ authForm.errors | json }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
