<div class="container pt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Sign Up</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="authForm">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                formControlName="usernamee"
              />
            </div>
            {{ authForm.get('username')?.errors | json}}
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
              />
            </div>
            {{ authForm.get('email')?.errors | json}}
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
            </div>
            {{ authForm.get('password')?.errors | json}}
            <div class="mb-3">
              <label for="passwordConfirmation" class="form-label">Password Confirmation</label>
              <input
                type="password"
                class="form-control"
                id="passwordConfirmation"
                formControlName="passwordConfirmation"
              />
            </div>
            {{ authForm.get('passwordConfirmation')?.errors | json}}
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {{ authForm.errors | json}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
